body {
  margin: 0;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.left-panel {
  width: 80px;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.tool-btn.active {
  background-color: #ccc;
}

.reset-button {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 1;
}

.save-button {
  position: absolute;
  top: 1%;
  right: 1%;
  margin-right: 4%;
  z-index: 1;
}

.interactive-area {
  flex: 1;
  width: calc(100vw - 80px); /* Adjust for left panel width */
  height: 100%;
  background-color: white;
  position: relative;
}

.colored-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}