body {
  margin: 0;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.interactive-area {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

.colored-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}